<!DOCTYPE html>
<html>
<head>
	<title><%= @title %></title>
</head>
<body>
	<%= yield %>
</body>
<footer>
	<p>There are <%= @total_number_of_users %> users with a total of <%= @total_number_of_interests %> interests</p>
</footer>
</html>